<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.1.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
	 http://www.springframework.org/schema/data/jpa 
    http://www.springframework.org/schema/data/jpa/spring-jpa-1.2.xsd"
	default-lazy-init="true">
		<description>hibernate配置 </description>
		<!-- Jpa Entity Manager 配置 -->
		<bean id="entityManagerFactory"
			class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
			<property name="dataSource" ref="dataSource" />
			<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter" />
			<!-- 配置实体地址 -->
			<property name="packagesToScan" value="com.alqsoft.entity" />
			<property name="jpaProperties">
				<props>
					<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory
					</prop>
					<prop key="net.sf.ehcache.configurationResourceName">cache/ehcache-hibernate-local.xml</prop>
					<prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
					<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
					<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
					<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
					<prop key="hibernate.dialect">${hibernate.dialect}</prop>
					<prop key="hibernate.jdbc.fetch_size">${hibernate.jdbc.fetch_size}</prop>
					<prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
					<prop key="hibernate.connection.isolation">2</prop>
				</props>
			</property>
		</bean>

		<bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			<property name="databasePlatform">
				<bean factory-method="getDialect"
					class="org.alqframework.orm.hibernate.Hibernates">
					<constructor-arg ref="dataSource" />
				</bean>
			</property>
		</bean>

		<!-- Spring Data Jpa配置, 扫描base-package下所有继承于Repository<T,ID>的接口 -->
		<jpa:repositories base-package="com.alqsoft.dao"
			transaction-manager-ref="transactionManager"
			entity-manager-factory-ref="entityManagerFactory" />

		<!-- 事务管理器配置, Jpa单数据源事务 -->
		<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
			<property name="entityManagerFactory" ref="entityManagerFactory" />
		</bean>

		<!-- 使用annotation定义事务 -->
		<tx:annotation-driven transaction-manager="transactionManager"
			proxy-target-class="true" order="1" />

	</beans>