@charset "utf-8";
/* CSS Document */

body{margin:0;font-family: "Microsoft Yahei";}
h1,h2,h3,h4,h5,h6{ margin:0; font-weight:normal; font-size:12px;}
a{ color:#000; text-decoration:none;}
ol,ul,li{ list-style:none; padding:0; margin:0;}
p{ margin:0;}
i,em{ font-style:normal;}
b,strong{ font-weight:normal;}
a img{ border:none;}
img{ margin: 0; padding: 0;}
*{margin: 0; padding: 0;}
.clearfix:after{ display:block; content:""; clear:both;}
.clearfix{ zoom:1; }

.zezhao_1{

	color: #fff; 

	font-size: 14px; 

	background: url(../img/ajax-loader.gif) no-repeat center #000; 

	opacity: 0.7; 

    filter: alpha(opacity:70);

	text-align: center; 

	width: 200px; 

	height: 200px;

	margin-left:-100px;

	margin-top:-100px; 

	z-index: 1055;

	position: fixed;

	top:50%;

	left: 50%;

}





.zezhao{

	position: fixed;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    z-index: 1040;

    background-color: #ffffff;

    opacity: 0.5;

    filter: alpha(opacity:50);

}



.loading span{ 

	padding: 30px 0 0 0; 

	display: block; 

	font-family: 'Microsoft'; 

	font-weight: bold;

	}