.diaryshareoutbox{
	width: 1100px;
	margin: 0 auto;
}
.diaryshareoutbox .presentpagebox{
	line-height: 47px;
	font-size: 18px;
	color: #00b0fb;
}
.diaryshareoutbox .presentpagebox .checked{
	color: #656565;
}
.diaryshareoutbox .diaryshareinbox{
	overflow: hidden;
}
.diaryshareoutbox .diaryshareinbox .shareleft{
	float: left;
	width: 824px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol{
	overflow: hidden;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .searchbox{
	padding-left: 10px;
	margin-right: 56px;
	width: 540px;
	height: 32px;
	float: left;
	overflow: hidden;
	background: url(../img/searchbox.jpg) no-repeat 0 0;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .searchbox .typebox{
	width: 96px;
	height: 32px;
	padding: 1px 0;
	margin-right: 2px;
	overflow: hidden;
	float: left;
	cursor:pointer;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .searchbox .typebox .type{
	float: left;
	width: 62px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #707070;
	text-align: center;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .searchbox .typebox .btn{
	float: left;
	height: 8px;
	padding: 11px 0;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .searchbox .typebox .btn .icon{
	background: url(../img/map1.png) no-repeat -419px -12px;
	width: 13px;
	height: 8px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .searchbox .inputbox{
	float: left;
	width: 397px;
	height:32px;
	padding: 1px 0;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .searchbox .inputbox .searchinput{
	width: 397px;
	height: 30px;
	border: none;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .searchbox .confirmbtn{
	width: 35px;
	float: left;
	height: 20px;
	padding: 6px 0;
	padding-left: 10px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .searchbox .confirmbtn .icon{
	background: url(../img/map1.png) no-repeat -443px -6px;
	width: 20px;
	height: 20px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .writediary{
	float: left;
	overflow: hidden;
	background: #00b0fb;
	border-radius: 4px;
	padding-left: 13px;
	padding-right: 11px;
	margin-right: 10px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .writediary .bookicon{
	float: left;
	height: 16px;
	padding: 8px 0;
	margin-right: 11px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .writediary .bookicon .icon{
	background: url(../img/map1.png) no-repeat -332px -58px;
	width: 15px;
	height: 16px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .writediary .txt{
	font-size: 16px;
	height: 32px; 
	line-height: 32px;
	color: #fff;
	float: left;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .mydiary{
	float: right;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	background: #00b0fb;
	border-radius: 4px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .mydiary .diarybook{
	height: 14px;
	padding: 9px 0;
	float: left;
	margin-right: 4px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .mydiary .diarybook .icon{
	background: url(../img/map1.png) no-repeat -363px -60px;
	width: 14px;
	height: 14px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .usercontrol .mydiary .txt{
	font-size: 16px;
	height: 32px; 
	line-height: 32px;
	color: #fff;
	float: left;
}
.diaryshareoutbox .diaryshareinbox .shareleft  .titleline{
	background: url(../img/newtitleline.jpg) no-repeat center;
	height: 23px;
	margin-top: 50px;
	margin-bottom: 60px;
}
.diaryshareoutbox .diaryshareinbox .shareleft .diarylistbox{
	overflow: hidden;
	
}
.diaryshareoutbox .diaryshareinbox .shareleft li{
	float: left;
	width: 258px;
	padding-bottom: 16px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #e6e6e6;
}
.diaryshareoutbox .diaryshareinbox .shareleft .last{
	margin-right: 0;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .diarypic{
	width: 258px;
	height: 199px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .satisfy{
	overflow: hidden;
	width: 248px;
	margin-top: 6px;
	padding-left: 10px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .satisfy .txt{
	float :left;
	font-size: 12px;
	color: #a5a5a5;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .satisfy .star{
	float: left;
	background: url(../img/map1.png) no-repeat -389px -57px;
	width: 17px;
	height: 16px;
	margin-right: 5px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .project,.diaryshareoutbox .diaryshareinbox .shareleft li .doctor,.diaryshareoutbox .diaryshareinbox .shareleft li .hospital{
	font-size: 12px;
	padding-left: 10px;
	padding-right: 15px;
	width: 233px;
	margin-top: 15px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .project .content,.diaryshareoutbox .diaryshareinbox .shareleft li .doctor .content,.diaryshareoutbox .diaryshareinbox .shareleft li .hospital{
	color: #22bbfc;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .rank{
	padding-left: 13px;
	overflow: hidden;
	margin-top: 22px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .rank .likeicon{
	float: left;
	height: 12px;
	padding: 1px;
	margin-right: 7px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .rank .likeicon .icon{
	background: url(../img/map1.png) no-repeat -243px -60px;
	width: 14px;
	height: 12px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .rank .commenticon{
	float: left;
	height: 12px;
	padding: 1px;
	margin-right: 7px;
	margin-left: 20px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .rank .commenticon .icon{
	background: url(../img/map1.png) no-repeat -272px -61px;
	width: 16px;
	height: 12px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .rank .lookicon{
	float: left;
	height: 8px;
	padding: 3px;
	margin-right: 7px;
	margin-left: 20px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .rank .lookicon .icon{
	background: url(../img/map1.png) no-repeat -302px -62px;
	width: 14px;
	height: 8px;
}
.diaryshareoutbox .diaryshareinbox .shareleft li .rank .like,.diaryshareoutbox .diaryshareinbox .shareleft li .rank .comment,.diaryshareoutbox .diaryshareinbox .shareleft li .rank .look{
	float: left;
	font-size: 12px;
	color: #00b0fb;
}





















