.daojiafuwu{
    width: 1100px;
    margin: 0 auto;
    color: #00b0fb;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.daojiafuwu a{
    color: #00b0fb;
}
.daojiafuwu i{
    color: #000;
}
.fuwdu_2{
    width: 1100px;
    margin: 50px auto 40px;
    text-align: center;
}
.fuwdu_2 .fuwdu_21{
    font-size: 22px;
    color: #00b0fb;
    display: block;
}
.fuwdu_2 img{
    display: block;
    margin: 10px auto 10px;
}
.fuwdu_2 .fuwdu_22{
    display: block;
    color: #d8d8d7;
}
.fuwdu_2 .fuwdu_22 i{
    display: block;
    margin-bottom: 5px;
}
.fuwdu_3{
    width: 980px;
    margin: 0 auto;
    padding-left: 120px;
    padding-top: 30px;
}
.fuwdu_3 .fuwdu_31 {
    margin-bottom: 25px;
    font-size: 20px;
}
.fuwdu_3 .fuwdu_31 input{
    width: 200px;
    height: 30px;
}
.fuwdu_3 .fuwdu_31 i{
    padding-left: 40px;
}
.fuwdu_3 .fuwdu_32{
    font-size: 20px;
    margin-bottom: 25px;
}
.fuwdu_3 .fuwdu_32 select{
    width: 80px;
    height: 25px;
    text-align: center;
}
.fuwdu_3 .fuwdu_32 input{
    width: 344px;
    height: 20px;
}
.fuwdu_3 .fuwdu_33{
    margin-bottom: 25px;
    font-size: 20px;
}
.fuwdu_3 .fuwdu_33 input{
    width: 200px;
    height: 30px;
}
.fuwdu_4{
    width: 138px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #0062a4;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}






















































































