.password_1{
    width: 860px;
    margin: 0 auto;
}
.modify{
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 26px;
    color: #656474;
    border-bottom: 1px dashed #B0B0B3;
}
.password_1>ul{
    overflow: hidden;
    width: 500px;
    margin: 30px auto;
}
.password_1>ul li{
    float: left;
    text-align: center;
    margin-left: 7px;
}
.password_1>ul li span{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #FFE1DF;
    font-size: 20px;
}
.font_1{
    color: #FE6965;
    border:2px solid #FE6965 ;
}
.font_2{
    color: #FFABA9;
    border:2px solid transparent ;
}
.password_1>ul li b{
    display: inline-block;
    width: 114px;
    border: 1px solid #FFCECD;
    margin-top: 28px;
}
.password_1>ul li p{
    color: #FE6965;
    margin-top: 12px;
}
.phone_1{
    width: 406px;
    margin: 0 auto;
}
.phone_1 ul{
    margin-top: 42px;
}
.phone_1 ul li{
    margin-bottom: 20px;
}
.phone_1 ul li span{
    margin-left: 16px;
}
.phone_1 ul li button{
    width: 90px;
    height: 30px;
    background-color: #97DA8E;
    border: 1px solid #97DA8E;
    color: #535353;
    margin-left: 16px;
    cursor: pointer;
}
.phone_1 ul li input{
    width: 260px;
    height: 26px;
    padding-left: 14px;
}
.yanzheng{
    display: block;
    width: 158px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    color: #717171;
    margin-left: 128px;
    margin-top: 55px;
}