<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.alqsoft.mybatis.dao.user.MyUserDao">
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"> </cache> -->
	<!-- 复杂类型可以映射也可以用as -->
	<!-- <resultMap type="User" id="userMap"> </resultMap> -->

	<!-- 有日志的 -->
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"> </cache> -->
	<sql id="base_sql">
		id,name
	</sql>
	<select id="getUser" parameterType="long" resultType="myUser">
		SELECT
		<include refid="base_sql" />
		FROM chenlili_user WHERE id=#{id}
	</select>
	
	<update id="updateUser" parameterType="myUser">
		update chenlili_user set name=#{name} where id=#{id}
	</update>
</mapper>

