<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.alqsoft.dao.dicsrtvicetype.DicServiceTypeDao">

	<select id="getServiceTypeInfo" resultType="com.alqsoft.entity.DicServiceType" parameterType="Long">
		select * from dic_service_type where id=#{serviceTypeId}
	</select>

</mapper>